.recipe-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-neutral, 0.75);
  }

  .flyout {
    position: absolute;
    top: $dim-header-height;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-left: $dim-base * 10;
  }

  .ingredients {
    min-height: 100%;
    padding-bottom: $dim-base * 30;
  }

  .hide {
    position: fixed;
    bottom: 0;
  }

  &.show {
    transform: translateX(0);
  }
}