<article class="card recipe-item z-1">
  <a href="#" 
    class="title-image" 
    style="background-image: url(/images/dummy/dummy-image.jpeg)">
  </a>

  <div class="inset">
    <h2 class="title">Creamy guacamole and salsa with selfmade nachos</h2>
    <aside>
      {{> rating}}
      {{> author}}
    </aside>
  </div>
</article> 