<header class="recipe-header">
  <img class="title-image" src="/images/dummy/dummy-image.jpeg" />

  <div class="inset">
    {{> rating button="true"}}
    <h1 class="title heading-ultra">Delicious chocolate cake with nuts!</h1>

    <aside>
      {{> date}} 
      {{> author}}
    </aside>
  </div>
</header>