<div class="ingredients card z-1">
  <h3 class="card-title">Ingredients</h3>
  <ul class="list inset">
    <li class="ingredient"><strong>1 stick </strong>unsalted butter, diced</li>
    <li class="ingredient"><strong>5 ounces </strong>bittersweet chocolate</li>
    <li class="ingredient"><strong>2 large </strong>Eggs</li>
    <li class="ingredient">some expensive sea salt to taste and garnish</li>
  </ul>
</div>