<div class="ingredients card z-1 {{#if checkboxed}}checkboxed{{/if}}">
  <h3 class="card-title">Ingredients</h3>
  <ul class="list inset">
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>1 stick </strong>unsalted butter, diced
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>5 ounces </strong>bittersweet chocolate
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>2 large </strong>Eggs
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        some expensive sea salt to taste and garnish
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>1 stick </strong>unsalted butter, diced
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>5 ounces </strong>bittersweet chocolate
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        <strong>2 large </strong>Eggs
      </label>
    </li>
    <li class="item">
      <label class="ingredient">
        {{#if checkboxed}} {{>checkbox}} {{/if}}
        some expensive sea salt to taste and garnish
      </label>
    </li>

    
  </ul>
</div>