<section class="recpie-preparation">
<h2 class="heading-big">Instructions</h2>

  <section class="step">
    <h3 class="step-title heading-neutral">Step One</h3>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>
  </section>

  <section class="step">
    <h3 class="step-title heading-neutral">Step Two</h3>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>
  </section>

  <section class="step">
    <h3 class="step-title heading-neutral">Step Three</h3>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>
  </section>

  <section class="step">
    <h3 class="step-title heading-neutral">Step Four</h3>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>

    <img src="/images/dummy/dummy-image.jpeg"/>

    <p>Once chocolate and butter have melted, remove from heat and stir. Slowly fold in the eggs and sugar and then quickly beat in the flour until just combined.
    </p>
  </section>
</section>