<div class="recipe-sidebar">
  <div class="cover"></div>
  <div class="flyout">
    {{> recipe/ingredients checkboxed="true"}}
    <button class="hide button">Hide Ingredients</button>
  </div>
</div>