/* Colors */
$color-background: #ffffff;
$color-text: #0A4177;

$color-primary: #0A4177;
$color-primary-text: #ffffff;
$color-primary-light: #49A6EF;

$color-neutral: #9BACB9;

$color-accent: #96D611;
$color-error: #E70E36;
