/* Font settings */

$font-family-default: 'Open Sans', sans-serif;

$font-size-default: 15;
$font-line-height-default: 20px;

$font-size-small: 13px;
$font-line-height-small: 18px;

$font-size-big: 20px;
$font-line-height-big: 27px;

$font-size-ultra: 24px;
$font-line-height-ultra: 33px;

$font-size-heading1: 25px;
$font-line-height-heading1: 32px;