/* Font settings */

$font-family-default: 'Open Sans', sans-serif;
$font-family-display: 'Reenie Beanie', cursive;

$font-size-default: 15px;
$font-line-height-default: 20px;

$font-size-small: 13px;
$font-line-height-small: 18px;

$font-size-big: 20px;
$font-line-height-big: 27px;

$font-size-ultra: 24px;
$font-line-height-ultra: 33px;
