/* Font settings */

$font-family-default: 'Roboto', sans-serif;

$font-size-default: 17px;
$font-line-height-default: 27px;

$font-size-small: 14px;
$font-line-height-small: 20px;

$font-size-big: 20px;
$font-line-height-big: 24px;

$font-size-ultra: 37px;
$font-line-height-ultra: 46px;

$font-size-heading1: 25px;
$font-line-height-heading1: 32px;