<header class="header z-1">
  <div class="logo">
    <img src="images/logo.png">
  </div>

  <nav class="nav">
    <ul>
      <li><a class="a" href="#">{{{icon "magnifier"}}}</a></li>
      <li><a class="a" href="/">Login</a></li>
    </ul>
  </nav>
</header>