<div class="listing">

  {{#if title}}
    <h2 class="title heading-big">{{title}}</h2>
  {{/if}}
  
  <ul class="list">
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
  </ul>
</div> 