<div class="listing">

  {{#if title}}
    <header class="result-header">
      <h2 class="title heading-big">{{title}}</h2>
    </header>
  {{/if}}
  
  <ul class="list">
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
  </ul>
</div> 