<div class="listing">

  {{#if title}}
    <h2 class="title heading-big">{{title}}</h2>
  {{/if}}
  
  <div class="list">
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
  </div>
</div>