<div class="proposals">
  
  <section>
    <h3 class="heading-big">Newest recipes</h3>  
    <nav>
      <ul>
        <li><a class="a" href="#">Penne with gorgonzola</a></li>
        <li><a class="a" href="#">Pizza with corned beef, capers and pureed tuna sauce</a></li>
        <li><a class="a" href="#">Simple low-carp vegetable stew!</a></li>
      </ul>
    </nav>
  </section>

  <section>
    <h3 class="heading-big">Popular search entries</h3>  
    <nav>
      <ul>
        <li><a class="a" href="#">Real spaghetti bolognese</a></li>
        <li><a class="a" href="#">Creamy guacamole and salsa with selfmade nachos</a></li>
        <li><a class="a" href="#">Grandma’s Chickensoup</a></li>
      </ul>
    </nav>
  </section>

  <section>
    <h3 class="heading-big">Popular tags</h3>  
    <nav>
      <ul>
        <li><a class="a" href="#">„Beef“ used in 523 recipies</a></li>
        <li><a class="a" href="#">„Japanese“ used in 258 recipies</a></li>
        <li><a class="a" href="#">„Chocolate“ used in 387 recipies</a></li>
      </ul>
    </nav>
  </section>
</div>