<div class="listing">

  <h1 class="title heading-big">44 Muffin recipes</h1>

  <div class="filter">
    {{> dropdown name="Sort by relevance"}}
  </div>

  <div class="list">
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
    {{> listing/recipeItem}}
  </div>

  <div class="more a"><span class="spinner"></span>Loading more recipes</div>
</div>