<div class="listing">

  <header class="result-header">
    <h1 class="title heading-big">44 Muffin recipes</h1>

    <div class="filter">
      {{> dropdown name="Sort by relevance"}}
    </div>
  </header>

  <ul class="list">
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
    <li class="item">{{> listing/recipeItem}}</li>
  </ul>

  <div class="more a"><span class="spinner"></span>Loading more recipes</div>
</div>