<aside class="social z-1">
  <div class="button item count left trans">999</div>
  <button class="button item rect facebook">{{{icon "favorite"}}}</button>
  <button class="button item rect twitter">{{{icon "favorite"}}}</button>
  <button class="button item rect pinterest">{{{icon "favorite"}}}</button>
  <button class="button item right gplus">{{{icon "favorite"}}}</button>
</aside>