<aside class="social z-1">
  <div class="button item count left trans">999</div>
  <button class="button item rect facebook">
    {{{icon "favorite"}}}
    <span class="name">share</span>
  </button>
  <button class="button item rect twitter">
    {{{icon "favorite"}}}
    <span class="name">tweet</span>
  </button>
  <button class="button item rect pinterest">
    {{{icon "favorite"}}}
    <span class="name">pin</span>
  </button>
  <button class="button item right gplus">
    {{{icon "favorite"}}}
    <span class="name">plus</span>
  </button>
</aside>