<aside class="social z-1">
  <div class="button item count left trans">999</div>
  <button class="button item rect facebook">fb</button>
  <button class="button item rect twitter">tw</button>
  <button class="button item rect pinterest">pi</button>
  <button class="button item right gplus">gp</button>
</aside>