.proposals {
  background-color: $color-primary;
  color: $color-primary-text;  
  padding: $dim-box-padding;
  @include clear-fix;

  section {
    margin-bottom: $dim-base * 6;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    max-width: $dim-list-item-width;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .heading-big {
    margin: 0 0 $dim-base * 3 0;
  }

  li {
    margin: $dim-base * 4 0;
    padding: 0;
  }

  @media all and (min-width: $breakpoint-md){
    section {
      float: left;
      width: 100/3;
    }
  }
}