.search {
  display: inline-block;
  @include clear-fix;
  position: relative;

  .value {
    float: left;
    padding-right: $dim-base * 15;
  }

  .submit-search {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  @media all and (min-width: $breakpoint-sd){

    width: 100%;
    max-width: 450px;

    .input {
      font-size: $font-size-big;
      line-height: $font-line-height-big;
    }

    .button {
      font-size: $font-size-big;
      line-height: $font-line-height-big;
     .icon {
        width: $font-line-height-big;
        height: $font-line-height-big;
      }
    }
  }
}