.social{
  @include clear-fix;
  border-radius: $dim-radius-default;

  .item{
    float: left;
    width: 20%;
    margin: 0;
    text-align: center;
  }

  .icon {
    width: $dim-base * 5;
    height: $dim-base * 5;
    display: inline;
  }

  .name {
    display: none;
  }

  .twitter {
    background-color: #55ACEE;
  } 

  .facebook {
    background-color: #3B5998;
  }

  .pinterest {
    background-color: #CC2127;
  }

  .gplus {
    background-color: #DD4B39;
  }

  @media all and (min-width: $breakpoint-sd){
    .item {
      text-align: left;
    }

    .name {
      display: inline;
    }

    .icon {
      float: left;
      margin-right: $dim-base * 2;
    }
  }
}