.social{
  @include clear-fix;
  border-radius: $dim-radius-default;

  .item{
    float: left;
    width: 20%;
    margin: 0;
  }

  .icon {
    width: $dim-base * 5;
    height: $dim-base * 5;
  }

  svg * {
    fill: $color-background;
  }

  .twitter {
    background-color: #55ACEE;
  } 

  .facebook {
    background-color: #3B5998;
  }

  .pinterest {
    background-color: #CC2127;
  }

  .gplus {
    background-color: #DD4B39;
  }
}