<form class="form search">
  <div class="form-row z-1">
    <input class="input value" type="text" name="search" placeholder="search for tasty recipes" autocomplete="off" />
    <input class="button right submit-search" type="submit" value="S">
  </div>
</form>