<form class="form search" id="{{id}}">
  <div class="form-row z-1">
    <input class="input value" type="text" name="search" placeholder="search for tasty recipes" autocomplete="off" />
    <button class="button right submit-search" type="submit">{{{icon "magnifier"}}}</button>
  </div>
</form>