.hero {
  background-image: url(/images/hero.png);
  width: 100%;
  min-height: $dim-base * 45;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: $dim-base * 5;
  color: $color-primary-text;

  .headline,
  .subline {
    font-family: $font-family-display;
  }

  .headline {
    font-size: 35px;
    line-height: 42px;
  }

  .subline {
    font-size: 25px;
    line-height: 30px;
  }

  .search {
    margin-top: $dim-base * 5;
  }

  @media all and (min-width: $breakpoint-sd){
    min-height: 400px;
    padding-top: $dim-base * 20;
    padding-bottom: $dim-base * 32;

    .headline {
      font-size: 60px;
      line-height: 72px;
    }

    .subline {
      font-size: 35px;
      line-height: 46px;
    }

    .search {
      margin-top: $dim-base * 8;
    }
  }
}