<article class="recipe-detail card rect">
  {{> recipe/header}}
  <div class="inset">
    {{> recipe/ingredients}}
    {{> recipe/preparation}}
    {{> recipe/info}}
    {{> social}}
  </div>
</article>

<aside>
  {{> listing title="Other tasty recipes!"}}
</aside>
