<article class="recipe-detail card rect z-1">
  {{> recipe/header}}
  <div class="inset">
    {{> recipe/ingredients}}
    {{> recipe/preparation}}
    {{> recipe/info}}
    {{> social}}
  </div>
</article>

<aside class="other-recipes">
  {{> listing title="Other tasty recipes!"}}
</aside>

{{> recipe/sidebar}}
{{> recipe/showSidebar}}

