.button {
  @extend .input;
  background-color: $color-accent;
  color: $color-primary-text;
  text-align: center; 

  &.trans {
    background-color: transparent;
    color: $color-text;
  }

  .icon {
    display: block;
    width: $dim-base * 5;
    height: $dim-base * 5;
  }
}
