.card {
  background-color: $color-background;
  border-radius: $dim-radius-default;

  &.rect {
    border-radius: none;
  }

  .card-title,
  .inset {
    padding: $dim-base * 4;
  }

  .card-title {
    border-bottom: 1px solid $color-neutral;
    margin: 0;
    font-size: $font-size-default;
    line-height: $font-line-height-default;
    font-weight: bold;
  }
}